:root{
    --bg-color: #798897;
    --main-color: #f3eed9;
    --icon-color: #d15c84;
}

*{
    border: 1px solid black;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    height: 100%;
    background-color: var(--bg-color);
}

body{
    display: flex;
    flex-flow: column;
    height: 100%;
}

i{
    color: var(--icon-color);
}

#main-container{
    background-color: var(--main-color);
    box-shadow:5px 5px 10px 5px var(--icon-color);
    display: flex;
    flex-flow: column;
    height: 250px;
    justify-content: space-between;
    margin: auto;
    width: 250px;
}

#session-container{
    display: flex;
    height: 30%;
}

#status{
    font-size: 1.5rem;
}

#timer{
    font-size: 2.3rem;
}

#timer-container{
    height: 75%;
}

#timer-container{
    display:flex;
    flex-flow: column;
    justify-content: space-between  ;
    text-align: center;
}

#title-watch{
    align-items: center;
    display: flex;
    height: 15%;
    text-align: center;
}

#title-watch p{
    color: var(--icon-color);
    flex-grow: 1;
    font-size: 30px;
    font-weight: bold;
}

.arrow-btn{
    width: 25%;
}

.btn-container{
    display: flex;
    justify-content: space-around;
}

.btn-container button{
    height: 25px;
    width: 35px;
}

.cnfg-controller{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.cnfg-name{
    font-size: 20px;
}

.config-minute{
    font-size: 1.5rem;
}


.timer-configurator{
    display: flex;
    flex-flow: column;
    width: 50%;
}

.timer-configurator h3{
    text-align: center;
}
