*{
    border: 1px solid black;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-flow: column;
}

#main-container{
    display: flex;
    flex-flow: column;
    margin: auto;
}

#session-container{
    display: flex;
}

#timer-container p{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: space-around;
}

.cnfg-controller{
    display: flex;
    justify-content: space-between;
}

.timer-configurator{
    display: flex;
    flex-flow: column;

    width: 50%;
}

.timer-configurator h3{
    text-align: center;
}

.timer-container{
    display:flex;
    flex-flow: column;
}
