*{
    border: 1px solid black;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-flow: column;
}

#main-container{
    display: flex;
    flex-flow: column;
    margin: auto;
}

#session-container{
    display: flex;
}

.timer-configurator{
    display: flex;
    flex-flow: column;
    width: 50%;
}
