*{
    border: 1px solid black;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-flow: column;
    height: 100%;
}

#main-container{
    display: flex;
    flex-flow: column;
    height: 70vh;
    justify-content: space-around;
    margin: auto;
    width: 40%;
}

#session-container{
    display: flex;
    height: 30%;
}

#timer-container p{
    text-align: center;
}

#title-watch{
    display: flex;
    height: 15%;
    text-align: center;
}

#title-watch p{
    flex-grow: 1;
}

.btn-container{
    display: flex;
    justify-content: space-around;
}

.cnfg-controller{
    display: flex;
    justify-content: space-between;
}


.timer-configurator{
    display: flex;
    flex-flow: column;
    width: 50%;
}

.timer-configurator h3{
    text-align: center;
}

.timer-container{
    display:flex;
    flex-flow: column;
}
